.parties__navbar {
  position: sticky;
  top: 0;
  width: 100%;
  text-align: center;
  font-weight: bold;
  padding: 16px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  display: flex;
  justify-content: space-between;
}

.parties__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  padding-bottom: 32px;
}

@media (min-width: 1024px) {
  .parties__container {
    gap: 32px;
  }
}

.create-btn {
  color: blue;
  font-weight: lighter;
  text-align: right;
  padding: 16px;
  display: flex;
  font-weight: bold;
  justify-content: flex-end;
  align-items: center;
}
