.form {
  display: flex;
  flex-direction: column;
  padding: 32px;
  margin: 48px auto;
  max-width: 560px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  background: white;
  border-radius: 4px;
}

.form__item {
  display: flex;
  flex-direction: column;
  margin: 16px 0;
}

.form__item input {
  border: none;
  padding: 16px 8px 4px 8px;
  border-bottom: 1px solid black;
  outline: none;
}

.form__error-text {
  font-size: 12px;
  color: red;
}

.title {
  text-align: center;
  margin: 0 auto;
  margin-top: 32px;
}
